
@font-face {
  font-family: 'MS PGothic';
  src: url(/msgoth.woff2)
  }

.text{
  font-family: "MS PGothic", "Mona", sans-serif;
  position: absolute;
  top: 25%;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14pt;
  line-height: 19px;
  color: #000000;
  width: 467px;
}

.citadel {
  image-rendering: pixelated;
  width: 690px;
  height: 1380px;
  background-image: url("/images/citadel.png");
  background-size: 100%;
  position: fixed;
  background-repeat: no-repeat;
  bottom: 5%;
}

.grout {
  /* I am Grout! */
  image-rendering: pixelated;
  background-image: url("/images/grout.png");
}

.splash {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

body {
  background: url("/images/splashbg.png") repeat;
  cursor: url('/cur/star.gif'), auto;
}

a:hover {
  cursor: url('/cur/starclick.gif'), auto;
}
.orbs {
  top: -25%;
  left: 74%;
  width: 200%;
  position: relative;
}

