
@font-face {
  font-family: 'MS PGothic';
  src: url(/msgoth.woff2)
  }

.text{
  font-family: "MS PGothic", "Mona", sans-serif;
  position: absolute;
  top: center;
  left: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14pt;
  line-height: 19px;
  color: #000000;
  width: 467px;
}

.citadel {
  image-rendering: pixelated;
  width: 690px;
  height: 100%;
  background-image: url("/images/citadels.gif");
  background-size: 100%;
  position: fixed;
  background-repeat: no-repeat;
  bottom: 0%;
  background-position: bottom;
}
 
.splash {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

body {
  background: url("/images/cloudstile.png") repeat;
  cursor: url('/cur/star.gif'), auto;
}

a:hover {
  cursor: url('/cur/starclick.gif'), auto;
}
.orbs {
  top: -25%;
  left: 74%;
  width: 200%;
  position: relative;
}

